/*universal
class
id
element*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: violet;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
    
background-color: white;
display: flex;
flex-direction: column;
width: 700px;
height: 500px;
align-self: center;
border-radius: 25px;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container>.row{
    width: 100%;
    justify-content: space-evenly;
}
.pic{
    border-radius: 50%;
    border: 2px solid blue;
}
.name{
    font-size: x-large;
    font-weight: bold;
}
.score{
    font-size: xx-large;
}
.runs{
    font-size: xx-large;
    width: 300px;
    justify-content: space-evenly;
}
#strikebutton{
    background: violet;
    width: 300px;
    height: 30px;
    font-size: x-large;
    color: white;
    margin-top: 50px;
    margin-bottom: -50px;
    border-radius: 20px;
    outline: none;
}




